body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
    margin:0;
    padding:0;
}
body{
    font-family: "微软雅黑";
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
//轮播图
#top{
    position: relative;
    height: 320px;
    li{
        position: absolute;
        top: 0;
        left: 0;
    }
    
}
#bottom{
    position: relative;
    #small_ul{
        position: absolute;
        top: 0;
        left: 0;
        li{
            img{
                float: left;
            }
            #xlb{
                height: 86px;
                width: 86px;
                margin:230px 10px 0 0;
            }
            #btn_r{
                position: absolute;
                height: 20px;
                width: 20px;
                top: 260px;
                left:500px;
            }
            #btn_l{
                position: absolute;
                height: 20px;
                width: 20px;
                left: 10px;
                top: 260px;
            }
    }
 }
}

//header 
.header{
    width:100%;
    height:50px;
     background-color:white;
}
.nav li{
    float: left;
    color:#8d8d8d;
    margin-right:22px;
}
.nav li:first-child{
    margin-left:83px;
}

//section
.section{
    width: 100%;
    height:70px ;
    background-color:#e0e0e0 ;
    .sectionCon-A{
        width:926px;
        height:70px;
        float: left;
        a{
            color:black;
            font-size:14px;
            font-weight:bold;
            line-height:70px;
            padding-right:45px;
        }
       
    }
}
.sectionCon-A a:first-child{
    padding-left:83px;
}
.sectionCon-B{
    float: right;
    input{
    width:270px;
     height:36px;
     margin-top:17px;
     margin-right: 93px;
     border-radius:20px;
     background-color:#eaeaea;
     border:none;
     outline:none;
    }
}
.sectionCon-B{
    position: relative;;
    img{
        width:18px;
        height:18px;
        position: absolute;
        top:25px;
        left:233px;  
    }
}
.sectionCon-C{
   float: left;
    width:100%;
    height:36px;
    line-height:36px;
    background-color:white;
    border-bottom:1px solid #dadada;
    a{
        color:black;
        padding-left:83px;
    }
}
.sectionCon-C img{
    width: 11px;
    height:11px;
}
.sectionCon-CC{
    float: right;
    width:99px;
    height:24px;
    margin-top:6px;
    margin-right: 93px;
    background-color:#dd0600;
    position: relative;
    span{
        font-size:12px;
        color:white;
        position: relative;
        left: 40px;
        top:-7px;
    }
    img{
        width:19px;
        height:17px;
        position: absolute;
        top:4px;
        left:12px;
    }
}

//main
.main{
    width:100%;
    height:758px;
    // h3{
    //     margin-top:40px;
    // }
    .mainCon-A{
        float: left;
        width:563px;
        height:668px;
        // margin-left:83px;
        img{
            width:560px;
            height:540px;
        }
            .fs{
                padding:330px 0 0 20px;
                span{
                    float: left;
                    font-size: 10px;
                    color:#a5a5a5;
                }
                img{
                   padding-right: 7px;
                   width:11px;
                   height:11px;
                   border:none;
                }
                h6{
                    display: inline;
                }
              
            }
        }
        h3{
            padding-left: 20px;
        }
    
}
.mainCon-B{
    float: left;
    width:803px;
    height:668px;
    padding-left:10px;
    h5{
        padding:5px 0 15px 0;
        color:#a2a2b7;
    }
    #mainCon-head{
        width: 802px;
        height: 190px;
        background-color:#f9f9f9;
        padding-top: 10px;
        #xz{
            display:block;
            margin:175px 0 0 109px ;
            color:red;
            font-size: 17px;
            font-weight: bold;
            text-decoration:underline;
        }
        .mainCon-head{
            float: left;
            width: 658px;
            height: 50px;
            #price{
                font-size:28px;
                color:red;
            }
        }
        .mainCon-right{
            float: left;
            width: 118px;
            height:50px;
            border-left:1px solid #e0e0e0;
            padding-left:20px;
            h6{
                color: #a5a5ad;
            }
      
        }
    }
    
}
.mainCon-center{
    margin-top:-50px;
    span{
        float: left;
    }
    div{
        margin-left: 73px;
        float: left;
        width:73px;
        height: 18px;
        border:2px solid red;
        span{
            display:block;
            margin-top:-2px;
        }
    }
   
}
 
.mainCon-foot{
    height:150px;
    div{
        padding-top: 8px;
        float: left;
        margin-left: 38px;
    }
    img{
        width:20px;
        height:20px;
        display: block;
        // padding-top:5px;
        float: left;
    }
    #huan{
        width:103px;
        height: 28px;
        background-color: #96cb27;
        border-radius: 9px;
        padding-top:1px;
        margin-top: 8px;
    }
}
#buy{
    margin:110px 0 0 108px;
    input{
        width: 165px;
        height: 47px;
        border:1px solid red;
    }
    #buyA{
        background-color: #e1140a;
        color:white;
    }
    #buyB{
        background-color:#ffeded;
        color:red;
    }
    span{
        font-size: 13px;
        a{
            color:#3e9be7;
            text-decoration: underline;
        }
    }
}
//article
.article{
    width:100%;
    height:373px;
    .articleCon-A{
        width:1426px;
        height:307px;
        margin-bottom:5px;
        padding-left:93px;
        background-color:#f6f7f8;
        a{
         color: black;
         padding:7px 0 0 5px;
         h6{
             padding-top:5px;
             color: #979797;
         }
         h5{
             padding: 20px 0 0 90px;
             color:red;
         }
       
        img{
            display: block;
            padding-top:22px;
            padding-left:25px;
           width:167px;
           height:149px; 
        }
    }
}
  .articleCon a:hover{
    transform: scale(1.01);
    transition: all 0.5s;
    box-shadow: 0 0px 5px 3px #bcc0c2;
  }

    .articleCon-B{
        float: left;
        width:1436px;
        height:52px;
        background-color:#f6f7f8;
        margin-bottom:5px;
        padding-left: 83px;
        span{
            line-height: 52px;
            font-weight:bold ;
        }
        
    }
}
.articleCon a{
    display: block;
    margin:16px 15px 25px  ;
    float: left;
    width:223px; 
    height: 268px;
    background-color:white;
}


// centre
.centre{
    width:100%;
    height:21106px;
}

// footer
.footer{
    width:100%;
    height:345px;
    background-color:pink;
    .footerCon{
        height:300px;
        background-color:#fbfbfb;
        margin:70px 0px 0 0;
        
    }
}
    .footerBot{
        height:45px;
        background-color:#272727;
        padding-left: 83px;
         span{
           line-height:45px;
           color: #687568;
       }
}
